{{define "Front"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"></meta>
        <link href="/stylesheets/jshaw.css" rel="stylesheet"></link>
        <link href="/stylesheets/favicon.ico" rel="icon" type="image/x-icon"></link>
        <script src="/stylesheets/jshaw.js"></script>
        <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({ TeX: { equationNumbers: {autoNumber: "all"} } });
        </script>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/github.min.css"></link>
        <script src="/stylesheets/highlight.pack.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </head>
    <body>
        <div class="wrapper">
            <div class="navbar">
                <ul>
                    {{if eq .NavNum 2}}
                    <li class="lastItem selected"><a href="/resume">Résumé</a></li>
                    {{else}}
                    <li class="lastItem"><a href="/resume">Résumé</a></li>
                    {{end}}
                    {{if eq .NavNum 1}}
                    <li class="selected"><a href="/project">Project</a></li>
                    {{else}}
                    <li><a href="/project">Project</a></li>
                    {{end}}
                    {{if eq .NavNum 0}}
                    <li class="firstItem selected"><a href="/home">Home</a></li>
                    {{else}}
                    <li class="firstItem"><a href="/home">Home</a></li>
                    {{end}}
                </ul>
            </div>
{{end}}

{{define "Tail"}}
        </div>
    </body>
</html>
{{end}}

{{define "ArticleList"}}
<div class="artlist">
    <dl>
        {{range $index, $element := .Posts}}
        {{if eq $index 0}}
        <dt class="firstItem"><a href="post?title={{$element.Title}}">{{$element.Title}}</a></dt>
        {{else}}
        <dt><a href="post?title={{$element.Title}}">{{$element.Title}}</a></dt>
        {{end}}
        <dd>{{$element.Snapshot}}</dd>
        {{end}}
    </dl>
</div>
{{end}}

{{define "ArticleContent"}}
<article>
    {{range $index, $element := .Posts}}
    {{$element.Content}}
    {{end}}
</article>
{{end}}

{{define "HomePage"}}
{{template "Front" .}}
{{template "ArticleList" .}}
{{template "Tail"}}
{{end}}

{{define "Article"}}
{{template "Front" .}}
{{template "ArticleContent" .}}
{{template "Tail"}}
{{end}}
